### IDEs ###
.vscode/*
.idea/*
.settings/*

# python
venv
__pycache__/

### java ###
*.iml
.classpath
.project
target/

/webapp/node_modules/
/twitter/tmp/
run-command.txt
.env

### webapp ###
# dependencies
webapp/node_modules
webapp/.pnp
webapp/.pnp.js

# testing
webapp/coverage

# production
webapp/build

# misc
webapp/README.md
webapp/.DS_Store
webapp/.env.local
webapp/.env.development.local
webapp/.env.test.local
webapp/.env.production.local

webapp/npm-debug.log*
webapp/yarn-debug.log*
webapp/yarn-error.log*